body {
  background-color: #4b7399;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px; }

p {
  line-height: 2.5em; }

a {
  color: blue; }
  a img {
    border: none; }

.clear {
  clear: both;
  height: 0;
  overflow: hidden; }

#container {
  width: 75%;
  margin: 0 auto;
  background-color: white;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px; }

#flash_notice, #flash_error, #flash_alert {
  clear: both;
  padding: 5px 8px;
  margin: 10px 0;
  width: 800px; }

#flash_notice {
  background-color: #ccffcc;
  border: solid 1px #66cc66; }

#flash_error, #flash_alert {
  background-color: #ffcccc;
  border: solid 1px #cc6666; }

.fieldWithErrors {
  display: inline; }

#errorExplanation {
  border: 2px solid #cf0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0; }
  #errorExplanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: 0;
    background-color: #cc0000;
    color: white; }
  #errorExplanation p {
    color: #333333;
    margin-bottom: 0;
    padding: 8px; }
  #errorExplanation ul {
    margin: 2px 24px; }
    #errorExplanation ul li {
      font-size: 12px;
      list-style: disc; }

#header {
  padding: 20px;
  background: #cccccc;
  border: 1px solid #aaaaaa; }

#logo {
  float: left; }

#user_nav {
  float: right;
  font-size: 12px; }

.clear {
  clear: both; }

#tasks .fields {
  margin-top: 10px;
  padding: 10px 15px;
  border: 1px solid #aaaaaa; }

.zebra {
  background: #cccccc; }

.flickr_pagination {
  text-align: center;
  padding: 0.3em; }
  .flickr_pagination a, .flickr_pagination span {
    padding: 0.2em 0.5em; }
  .flickr_pagination span.disabled {
    color: #aaaaaa; }
  .flickr_pagination span.current {
    font-weight: bold;
    color: #ff0084; }
  .flickr_pagination a {
    border: 1px solid #dddddd;
    color: #0063dc;
    text-decoration: none; }
    .flickr_pagination a:hover, .flickr_pagination a:focus {
      border-color: #003366;
      background: #0063dc;
      color: white; }
  .flickr_pagination .page_info {
    color: #aaaaaa;
    padding-top: 0.8em; }
  .flickr_pagination .prev_page, .flickr_pagination .next_page {
    border-width: 2px; }
  .flickr_pagination .prev_page {
    margin-right: 1em; }
  .flickr_pagination .next_page {
    margin-left: 1em; }

#help-area {
  width: 90%;
  margin: 10px auto; }

ul.create-project {
  width: 70%; }

ul.help-out, ul.create-project {
  font-size: 1.5em;
  color: black; }
  ul.help-out li, ul.create-project li {
    list-style: none;
    float: left;
    padding: 10px; }
  ul.help-out li.intro, ul.help-out li.step3, ul.create-project li.intro, ul.create-project li.step3 {
    color: #ff4040; }
  ul.help-out li.step1 a, ul.create-project li.step1 a {
    color: #123eab; }

#projects .project .email {
  float: left; }
#projects .project .name {
  float: left; }
#projects .project .url {
  margin-right: 20px;
  float: right; }
#projects .project .tasks {
  float: right; }
#projects .project .desc {
  padding: 5px 10px 20px 10px; }

#project_header {
  padding: 1em 6em; }

#project_tasks {
  background: #dedede;
  margin: 0 1em; }
  #project_tasks p {
    line-height: 1.8em; }
  #project_tasks .tasks_content {
    padding: 1em; }
    #project_tasks .tasks_content p.project_title {
      font-size: 1.05em;
      font-style: italic; }
    #project_tasks .tasks_content p.project_description {
      margin-left: 1em;
      margin-bottom: 0.5em; }
