%h1 Listing projects

%table
  %thead
    %tr
      %th Project
      %th Url
      %th Tasks
  %tbody
    - @projects.each do |project|
      %tr
        %td= link_to project.name, project
        %td= link_to project.url, project.url, :target => '_blank'
        %td TASKS

%br

= link_to 'New project', new_project_path if can? :create, Project
